<div class="selectors">
  <div class="selector">
    <label for="modelSelect">Model:</label>
    <select id="modelSelect" [ngModel]="selectedModel" (ngModelChange)="onModelChange($event)">
      <option [ngValue]="undefined" disabled>Choose...</option>
      <option *ngFor="let model of (state.models$ | async)" [ngValue]="model">{{ model.description }}</option>
    </select>
  </div>
  <div class="selector" *ngIf="selectedModel">
    <label for="colorSelect">Color:</label>
    <select id="colorSelect" [ngModel]="selectedColor" (ngModelChange)="onColorChange($event)">
      <option *ngFor="let color of selectedModel.colors" [ngValue]="color">{{ color.description }}</option>
    </select>
  </div>
</div>


