.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  max-width: 800px; /* Set a max-width to the container */
  width: 100%;
}

.summary-info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 25px;
  max-width: 800px; /* Set a max-width to the container */
  width: 100%;
}

.summary-item span {
  margin-left: 20px;
  flex: 1; /* Ensure spans take up equal space */
}

.price {
  text-align: right; /* Align text to the right */
  width: 150px; /* Set a fixed width for the price to keep it aligned */
  font-weight: bold;
}
