<app-steps></app-steps>

<div>
  <h2>Step 2: Select your config and options</h2>
  <div class="selector">
    <label for="configSelect">Config:</label>
    <select id="configSelect" [(ngModel)]="selectedConfig" (ngModelChange)="onConfigChange($event)">
      <option [ngValue]="undefined" disabled>Choose...</option>
      <option *ngFor="let config of (state.options$ | async)?.configs" [ngValue]="config">{{ config.description }}</option>
    </select>
  </div>
  <div class="config-info">
    <span *ngIf="selectedConfig !== undefined">Range: {{ selectedConfig.range }}
      miles - Max speed: {{ selectedConfig.speed }} mph - Cost: {{selectedConfig.price | currency}}</span>
  </div>
  <div *ngIf="options?.towHitch">
    <label>
      <input id="includeTow" type="checkbox" [(ngModel)]="towHitch" (ngModelChange)="onTowHitchChange($event)">
      Tow hitch?
    </label>
  </div>
  <div *ngIf="options?.yoke">
    <label>
      <input id="includeYoke" type="checkbox" [(ngModel)]="yokeSteeringWheel" (ngModelChange)="onYokeSteeringWheelChange($event)">
      Yoke steering wheel?
    </label>
  </div>
</div>
<app-car-image></app-car-image>

