.steps {
  display: flex;
  //justify-content: space-around;
  margin-bottom: 20px;


  button {
    flex: 1;
    margin: 0px 0px 0px 0px;
    padding: 10px 20px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #fff;
      color: #000;
    }

    &:disabled {
      border-color: #777;
      color: #777;
      cursor: not-allowed;
    }
  }
}

.selectors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.selector {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
