<div>
  <h2>Step 1: Choose your Model and color</h2>
  <div>
    <label for="modelSelect">Model:</label>
    <select id="modelSelect" [(ngModel)]="selectedModel" (change)="onModelChange()">
      <option value="undefined" disabled>Choose...</option>
      <option *ngFor="let model of models" [ngValue]="model">{{model.description}}</option>
    </select>
  </div>
  <div *ngIf="selectedModel">
    <label for="colorSelect">Color:</label>
    <select id="colorSelect" [(ngModel)]="selectedColor" (change)="onColorChange()">
      <option *ngFor="let color of selectedModel?.colors" [ngValue]="color">{{color.description}}</option>
    </select>
  </div>
  <div *ngIf="selectedModel && selectedColor">
    <img [ngSrc]="getImageUrl()" width="1016" height="595" alt="Selected Car" priority/>
  </div>
</div>
<div>
  <button id="step1" routerLink="/step1">Step 1</button>
  <button id="step2" [disabled]="!selectedModel || !selectedColor" routerLink="/step2">Step 2</button>
  <button id="step3" [disabled]="!selectedModel || !selectedColor" routerLink="/step3">Step 3</button>
</div>

